<div class="container">
  <h3 class="d-inline-block px-4 mx-5 mb-3 text-primary"><i class="fas fa-comment-medical"></i> <%= @group.name %>のグループチャット</h3>
  <div class="chats-index m-3">
    <%= render "public/chats/index", group: @group %>
   </div>
    <%= render "public/chats/form", group: @group, chat: @chat %>
  </div>
</div>