<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h3 class="d-inline-block px-4 mx-5 mb-3 text-primary"><i class="fas fa-check-double"></i>送信が完了しました</h3>

      <p>内容は以下の通りです。</p>

      <h6>『タイトル』</h6>
      <p><%= @title %></p>

      <h6>『詳細内容』</h6>
      <p><%= @body %></p>
    </div>
  </div>
</div>