<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="display-4 text-center">
        <i class="fas fa-ghost"></i><strong>初心者ガイド</strong><i class="fas fa-ghost"></i>
      </div>

      <h5 class="text-center mt-2">
        ゲームのジャンルごとの特徴について紹介をしていきますので、自分の好みのジャンルを探すのに役立ててください！
      </h5>

      <h3 class="text-info">
        <i class="fas fa-gamepad"></i><strong>アクションゲーム</strong>
        <p>
          コントローラーでキャラクターを操作して、ゴールを目指したり、敵を倒したりしながら
          ステージのクリアを目指すゲームです。操作性も幅広く人気のタイトルも多数あり！
        </p>
      </h3>

      <h3 class="text-info">
        <i class="fas fa-gamepad"></i><strong>アドベンチャーゲーム</strong>
        <p>
          プレイヤーの分身となるキャラクターをコマンド入力や選択肢から操作して
          情報や手がかりを集めて進めていくゲームです！
        </p>
      </h3>

       <h3 class="text-info">
         <i class="fas fa-gamepad"></i><strong>ロールプレイングゲーム</strong>
         <p>
           ロールプレイングゲーム(RPG)は、プレイヤーがゲーム中のプレイヤーに
           なりきって、冒険や探索を行うゲームで、戦闘によって得た経験値やお金で
           プレイヤーが強くなっていくシステムが人気のひとつです。
           有名タイトルも多数揃っている人気のあるジャンルで、1人でも楽しめるのが特徴です！
         </p>
       </h3>

       <h3 class="text-info">
         <i class="fas fa-gamepad"></i><strong>シューティングゲーム</strong>
         <p>
           銃や戦闘機を操作してターゲットを攻撃します。
           中でもFPS(ファースト・パーソン・シューティングゲーム)は一人称視点でプレイするゲームで
           対人での戦いも人気でプロチームが多数在籍していたりもする大人気のジャンルです！
         </p>
       </h3>

       <h3 class="text-info">
         <i class="fas fa-gamepad"></i><strong>パズルゲーム</strong>
         <p>
           パズルゲームは考えて解くことを目的としたゲームです。
           最近だとスマートフォンのアプリゲームにもよく採用されているジャンルで
           操作性がシンプルで片手間で遊べるタイトルも多く人気のあるジャンルです！
         </p>
       </h3>
       
       <h3 class="text-info">
         <i class="fas fa-gamepad"></i><strong>音楽ゲーム</strong>
         <p>
           音ゲーという名称でもよく言われているジャンルで、流れる曲に合わせて
           ボタンを押したり操作をしたりするゲームで人気の楽曲が使われていたりと
           老若男女から人気があります！
         </p>
       </h3>
       
       <h3 class="text-info">
         <i class="fas fa-gamepad"></i><strong>MOBA</strong>
         <p>
           MOBA(マルチプレイヤー・オンライン・バトル)は
           他のジャンルと比較すると新しいジャンルです。
           RTSと似ているが(RTSは複数のキャラクターを操作して戦う戦術バトルなど)
           違う部分は1人のヒーローユニットを操作し、オンラインで繋がった複数のプレイヤーが
           チームに分かれて連携を取りながら勝利を目指すゲームです。
           チームを組んだり連携や個人の力量でも勝敗が大きく変わるので、みてるだけでも楽しめ、
           最近は配信者の人からも人気が高いジャンルです！
         </p>
       </h3>
       
       <h2 class="text-center mt-2">
         このサイトで人気のあるゲーム機種の紹介です。
       </h2>
       
       <h3 class="text-success">
         <i class="fab fa-steam"></i><strong>Steam</strong>
         <p>
           SteamはPCゲームプラットフォームで、最近人気沸騰中の『eスポーツ』でもよく採用されています。
           国内外の幅広いゲームタイトルを購入、ダウンロードすることが可能です。
         </p>
       </h3>
       
        <h3 class="text-success">
          <i class="fab fa-playstation"></i><strong>Playstation</strong>
          <p>
            SONYが販売している家庭用ゲーム機の名称で
            誰しもが1度は名前を耳にしたことがあるとは思います。
            シリーズは現在までで第５シリーズまで登場しており、
            家庭用ゲーム機のオンライン先駆けとも言えるシリーズです。
          </p>
        </h3>
        
        <h3 class="text-success">
          <i class="fab fa-xbox"></i><strong>Xbox</strong>
          <p>
            マイクロソフトが販売している家庭用ゲーム機の名称
            ゲームタイトルも他の機種に劣らず豊富で根強いファンも多くいる
          </p>
        </h3>
    </div>
  </div>
</div>