<div class="container">
  <h3 class="d-inline-block px-4 mx-5 mb-3 text-primary"><i class="fas fa-comment-medical"></i>参加可能なグループチャット</h3>
  <div class="text-center mb-4">
     <%= link_to new_group_chat_path do %>
     <i class="fas fa-plus-square"></i>
     <i class="text-primary">グループチャットを作成する</i>
     <% end %
  </div>
</div>