<% if @model == "user" %>
<h3 class="d-inline-block px-4 mx-5 mb-3 text-primary"><i class="fas fa-users"></i>ユーザー検索結果 "<%= @content %>"</h3>
<%= render "admin/users/index", users: @records %>
<% elsif @model == "post" %>
<h3 class="d-inline-block px-4 mx-5 mb-3 text-primary"><i class="fas fa-gamepad"></i>投稿検索結果 "<%= @content %>"</h3>
<%= render "admin/posts/index", posts: @records %>
<% end %>