<div class="row my-5">
  <div class="col-md-4">
    <div class="card-header"><i class="fas fa-dice-d20"></i> ゲームジャンル</div>
    <div class="table-responsive">
      <table class="table table-borderless table-hover">
        <thead class="bg-info">
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td class="text-center"><%= link_to "変更する", edit_admin_genre_path(genre), class: "btn btn-outline-success px-5" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>