<div class="container">
 <h3 class="d-inline-block px-4 mx-5 mb-3 text-primary"><i class="fas fa-users"></i>会員一覧</h3>
 <%= render 'index', users: @users %>
 <div class="paginate d-flex justify-content-center">
  <%= paginate @users %>
 </div>
</div>