<div class="container">
  <h3 class="d-inline-block px-4 mx-5 mb-3 text-primary"><i class="fas fa-users"></i>会員一覧</h3>

  <div class="card-header"><i class="fas fa-user-secret"></i>会員</div>
  <table class="table table-borderless table-hover">
    <thead class="bg-info">
      <tr>
        <th>プロフィール写真</th>
        <th>ニックネーム</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @user.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size:"50x50" %></td>
        <td><%= user.name %></td>
        <td><%= link_to "詳細を見る", user_path(user.id), class: "btn btn-outline-info px-5" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>