<div class="container">
 <h3 class="text-center mb-5 text-danger"><i class="fas fa-exclamation-circle"></i><strong>本当に退会しますか？</h3>
 <h4 class="text-center">
   退会すると閲覧が不可となり再度のログインも不可となってしまいます<br>
   退会される場合は『退会する』のボタンを押して進んでください<br>
   退会されない場合は『退会しない』のボタンをを押して進んでください
 </h4>

 <div class="d-flex justify-content-center mt-5">
  <%= link_to "退会しない", user_path, class: "btn btn-outline-info px-5 mr-5" %>
  <%= link_to "退会する", user_withdrawal_path, method: :patch, class: "btn btn-outline-danger px-5", data: { confirm: "本当に退会しますか？" } %>
 </div>
</div>